header#user {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  background-image: url("/images/bg-always-grey.png");
}

header#user h2 {
  color: white;
}

header#user h2 span.first-name {
  font-weight: 600;
}

header#user h2 span.last-name {
  font-weight: 300;
}

/* For desktop */
@media only screen and (min-width: 1024px) {
  header#user {
    width: 50vw;
  }
}