header#user {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  background-image: url("/images/bg-always-grey.png");
}

header#user h2 {
  color: white;
}

@media only screen and (min-width: 1024px) {
  header#user {
    width: 50vw;
  }
}