.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;/* 
  margin-left: 5%;
  margin-right: 5%;
  width: 90%; */
  margin-bottom: 2.5em;
}
#tweet-text {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  background-color: inherit;
  font-weight: 600;
  font-size: 0.8em;
  resize: none;
  outline: none;
}
section.new-tweet form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section.new-tweet form label[for="tweet-text"] {
  font-weight: 600;
  display: flex;
  align-self: flex-start;
}

section.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Bungee;
}
section.new-tweet form div button {
  color:white;
  background-color: #4056A1;
}

i.fa-solid.fa-triangle-exclamation {
  margin: 0 0.3em;
}

div.error {
  color: red;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin: 0.5em 0;
  padding: 0.25em;
  display: flex;
  align-self: flex-start;
  width: 100%;
  display: none;
}